* {
  margin: 0;
  padding: 0;
}

.left-sidebar {
  background-color: orange;
  color: #ffffff;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(212, 163, 163);
}

.homepage-header {
  background-color: #f5f5f5;
  padding: 15px;
  text-align: center;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.homepage-image {
  height: 80px;
}

.homepage-header-list {
  list-style-type: none;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.homepage-list-item {
  padding: 8px 15px;
  border-radius: 10px;
}
.homepage-list-item:hover {
  color: rgb(255, 255, 255);
  border: 1px solid orange;
  background-color: orange;
  font-weight: bold;
}

.homepage-list-item {
  margin-right: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homepage-main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 180px);
}

.homepage-impact-pic {
  width: 80%;
  background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: slide 15s infinite;
}

.homepage-notices {
  width: 20%;
}

.homepage-footer {
  padding: 10px 5%;
  background-color: #333333;
  text-align: center;
  height: 50px;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  color: #ffffff44;
  font-weight: bold;
}

.homepage-footer-authors {
  text-decoration: none;
  color: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.homepage-notices {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage-notice-container {
  height: 100%;
}
.homepage-notice {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-self: flex-start;

  border-bottom: 1px solid #88888888;
}

.homepage-notice-item {
  padding: 10px;
}

@keyframes slide {
  0% {
    background-image: url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cmVzdWx0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  }
  50% {
    background-image: url("https://images.unsplash.com/photo-1576267423445-b2e0074d68a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  }
  100% {
    background-image: url("https://images.unsplash.com/photo-1514355315815-2b64b0216b14?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  }
}
a{text-decoration: none;
color:inherit}